* {
    margin: 0;
    border: 0;
    box-sizing: 0;
    color: #242424;
    padding: 0;
    border: 1px solid black;
}

html {
    height: 100%;
}

body {
   
}

.counter{
    display: flex;
    flex-direction: column;
}